
<ion-header>
  <ion-toolbar>
    <ion-title> logo </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <section id="seccionUno">
    <div class="content">
      <fieldset>
        <legend>Conjunto de elementos</legend>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, corrupti?</p>  
        <ion-button [routerLink]="['/product-list']">Product List</ion-button>
      </fieldset>      
    </div>
  </section> 
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title> Footer </ion-title>
  </ion-toolbar>
</ion-footer>