<ion-header>
  <div>

  <ion-row>
    <ion-img src="assets/img/icono-portada.png" alt="icono-portada"></ion-img>
  </ion-row>
  
</ion-header>
<!-- content -->
<ion-content [fullscreen]="true" class="ion-text-center contenido-main content">
  <ion-grid>
    <!-- fila imagen-->
    <ion-row class="ion-justify-content-center imagen-portada">
      <ion-img src="assets/img/img-portada.png" alt="img-portada"></ion-img>
    </ion-row>
    <!-- fila texto-->
    <ion-row class="ion-justify-content-center">
      <div class="texto-portada">
        <ion-col size="12">
          <div class="titulo">
            <h1>Gastronomía saludable en tu mesa.</h1>
          </div>
          <div class="texto">
            <p>Somos profesionales Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias, accusantium
              exercitationem voluptas doloribus voluptate explicabo.</p>
          </div>
        </ion-col>
      </div>
    </ion-row>
    <ion-row class="ion-justify-content-around">
      <div class="botones-main">
        <ion-col size="6">
          <ion-button shape="round" class="btn-portada">VER MENU</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button shape="round" class="btn-portada">HACER PEDIDO</ion-button>
        </ion-col>
      </div>

    </ion-row>
  </ion-grid>


</ion-content>
<!-- footer -->
<ion-footer>
  <ion-toolbar>
    <ion-title> Footer </ion-title>
  </ion-toolbar>
</ion-footer>